@import "tailwindcss";

html, body, #root {
    height: auto;
    min-height: 100%;
    overflow-x: clip;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}